{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}


<div class="container">
<h1> Création d'un post</h1>
   {# {{ form(categoryForm) }} #}
   {# templates/task/new.html.twig #}
{{ form_start(postForm) }}
    {{ form_widget(postForm) }}

    
{{ form_end(postForm) }}
   
</div>
{% endblock %}
